<div class="alert alert-success" *ngIf="message">{{ message }}</div>
<div class="card" *ngIf="product">
  <img [src]="product.photo" class="card-img-top" />
  <div class="card-body">
    <h4 class="card-title">{{ product.name }}</h4>
    <p class="class-text">{{ product.description }}</p>
    <h5>Available: {{ product.quantity }}</h5>
    <h5>Price:
      {{ product.price }}</h5>
    <h6>Source: {{ product.source }}</h6>
    <input type="text" name="requiredQuantity" maxlength="3" size="3" #requiredQuantity />&nbsp;
    <button class="btn btn-primary" [disabled]="(product.quantity < 1) ? true: false"
      (click)="addToCart(product,requiredQuantity.value)">
      Add to Cart</button>
    <button class="btn btn-success" routerLink="/products">Back</button>
  </div>
</div>
