<div class="card" appHighlight [myClass]="'shadow-lg'" [color]="'gray'" *ngIf="view === 'gallery'">
  <img [src]="product.photo" class="card-img-top" />
  <div class="card-body">
    <h4 class="card-title" appHighlight>{{ product.name }}</h4>
    <p class="class-text">{{ product.description }}</p>
    <h5 [class.lessQuantity]="(product.quantity < 1) ? true : false">Available: {{ product.quantity }}</h5>
    <h5 [style.color]="(product.price < 100) ? 'green' : (product.price < 500) ? 'yellow' : 'blue'">Price:
      {{ product.price | currency:'RM' }}</h5>
    <h6 [ngClass]="{
                      'fromUK':product.source === 'UK',
                      'fromMY':product.source === 'MY',
                      'fromJP':product.source === 'JP',
                      'fromUS':product.source === 'US'
                  }">Source: {{ product.source }}</h6>
    <input type="text" name="requiredQuantity" maxlength="3" size="3" #requiredQuantity />&nbsp;
    <button class="btn btn-primary" [disabled]="(product.quantity < 1) ? true: false"
      (click)="addToCart(product,requiredQuantity)">
      <!-- <button class="btn btn-primary" *ngIf="(product.quantity > 0)" (click)="addToCart()"> -->
      Add to Cart</button>&nbsp;
    <button class="btn btn-success" routerLink="productdetail/{{ product.id }}">More</button>
  </div>
</div>
<ng-container *ngIf="view === 'list'">
  <td>{{ counter + 1 }}</td>
  <td><img [src]="product.photo" class="img-thumbnail" width="150" /></td>
  <td>
    <h5><a routerLink="/productdetail/{{product.id}}">{{ product.name }}</a></h5>
    <p>{{ product.description }}</p>
    <p>{{ product.source }}</p>
  </td>
  <td>{{ product.quantity }}</td>
  <td>{{ product.price | currency:'RM'}}</td>
  <td>
    <input type="text" name="requiredQuantity" maxlength="3" size="3" #requiredQuantity />&nbsp;
    <button class="btn btn-primary" [disabled]="(product.quantity < 1) ? true: false"
      (click)="addToCart(product,requiredQuantity)">Add
      to Cart</button></td>
</ng-container>
